
<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

    <main class="">
        <% if (info) { %>
            <div><%= info %></div>
        <% } %>

    </main>


<%- include('./partials/footer'); %>

