
<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

    <main class="">
        <% for (let user of usersArray) { %>
            <li>
                <%= user.firstName %>
            </li>
        <% } %>
    </main>


<%- include('./partials/footer'); %>

